.vscode/*
__pycache__/*
functions_test.py
tests/heat_discretised_model/__pycache__
models/__pycache__
visualisation/__pycache__
configure/__pycache__
tests/vapour_discretised_model/__pycache__
outputs/*
.venv
Figures/*
CoupledSystems/__pycache__
NuclearData/*
openMC/fuelAssembly/__pycache__
walkthrough_gmsh_tutorials
openMC/fuelAssembly/*
!openMC/fuelAssembly/fuel_assembly_openmc.py
openMC/test
meshHeatConduction/__pycache__
meshHeatConduction/hex_mesh.msh
meshHeatConduction/rect_mesh.msh